:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Text color */
    --main-text-color: #212121;
    --accent-text-color: #2196F3;
    --second-text-color: #757575;
    --third-text-color:  #fff;

    /* Backround colors */
    --accent-bg-color: #2F303A; 

    /* Others */
    --black-text-color: #000;
}

body
{
    font-family: 'Roboto', sans-serif;
    background: var(--third-text-color);
}

/* Header */

.logo
{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-text-color);
    text-decoration: none;
    cursor: pointer;
}

.nav-logo
{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    text-decoration: none;
}

.link
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
}

.list
{
    list-style: none;
}

.link:hover,
.link:focus
{
    color: var(--accent-text-color);
}

.list-item-link
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-decoration: none;
}

.list-item-link:hover,
.list-item-link:focus
{
    color: var(--accent-text-color);
}

/* Main */

.main-section
{
    background-color: var(--accent-bg-color);
}

.section-title
{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--third-text-color);
}

.btn
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--third-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    border: none;
}

.caption
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-text-color);
}

.text
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-name
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-position
{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer
{
    background-color: var(--accent-bg-color);
}

.footer-logo
{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    text-decoration: none;
    cursor: pointer;
}

.contacts-address
{
    font-style: normal;
}

.list-item-link-one
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    text-decoration: none;
    cursor: pointer;
}

.list-item-link-two
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    text-decoration: none;
}

.list-item-link-one:hover,
.list-item-link-one:focus
{
    color: var(--accent-text-color);
}

.list-item-link-two:hover,
.list-item-link-two:focus
{
    color: var(--accent-text-color);
}

/* Portfolio */
.visually-hidden
{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: #f5f4fa;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus
{
    background-color: var(--accent-text-color);
    color: var(--third-text-color);
}

.section-title-portfolio
{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.project
{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}